{% extends "dashboard_Workroom_Base.html.twig" %}

{% block title %}TemplateBundle:Workroom:workroom{% endblock %}

{% block container %}
    <div class="work-box">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">

                <div class="col-lg-12 top-sec">
                    <h3>Code Ebay store and listing design to be mobile responsive.</h3>
                    <h4>Customer Service - Customer Service</h4>
                </div>
                <div class="col-lg-12">
                    <hr class="small-hr"/>
                </div>

                <div class="col-lg-12 middle-sec">
                    <div class="col-lg-8">
                        <img src="{{ asset('assets/img/users/1.jpg') }}" class="img-circle img-thumbnail" alt="Image"/>
                        <h3><a href="">Anna Morgan</a></h3>
                        <h4><span class="label label-mint">Freelancer</span></h4>
                    </div><!-- .col-lg-3 -->
                    <div class="col-lg-4">
                        <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"> Is job completed? Click here.</a>
                    </div><!-- .col-lg-9 -->
                </div>

                <div class="col-lg-12">
                    <hr class="small-hr"/>
                </div>

                <div class="col-lg-12 bottom-sec">
                    <div class="col-lg-6">
                        <h5> Freelancer Proposal </h5>
                        <p> $20/hr</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <h5> Job Type </h5>
                            <p>Hourly</p>
                        </div>
                    </div>
                </div><!-- /.col-lg-12 -->

            </div><!-- .col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- .work-box -->


    <div class="conversation-box">

        <div class="conversation-header">
            <div class="user-message-details">
                <div class="user-message-img">
                    <img src="{{ asset('assets/img/users/1.jpg') }}" class="img-responsive img-circle" alt="">
                </div>
                <div class="user-message-info">
                    <h4>Anna Morgan</h4>
                    <p>Online</p>
                </div><!--/ user-message-info -->
            </div><!--/ user-message-details -->
        </div><!--/ conversation-header -->

        <div class="conversation-container">

            <div class="convo-box pull-right">
                <div class="convo-area">
                    <div class="convo-message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget
                            malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                    </div><!--/ convo-message-->
                    <span>Sat, Aug 23, 1:08 PM</span>
                </div><!--/ convo-area -->
                <div class="convo-img">
                    <img src="{{ asset('assets/img/users/2.jpg') }}" alt="" class="img-responsive img-circle">
                </div><!--/ convo-img -->
            </div><!--/ convo-box -->

            <div class="convo-box convo-left">
                <div class="convo-area convo-left">
                    <div class="convo-message">
                        <p>Cras ultricies ligula.</p>
                    </div><!--/ convo-message-->
                    <span>5 minutes ago</span>
                </div><!--/ convo-area -->
                <div class="convo-img">
                    <img src="{{ asset('assets/img/users/1.jpg') }}" alt="" class="img-responsive img-circle">
                </div><!--/ convo-img -->
            </div><!--/ convo-box -->

            <div class="convo-box pull-right">
                <div class="convo-area">
                    <div class="convo-message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget
                            malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                    </div><!--/ convo-message-->
                    <span>Sat, Aug 23, 1:08 PM</span>
                </div><!--/ convo-area -->
                <div class="convo-img">
                    <img src="{{ asset('assets/img/users/2.jpg') }}" alt="" class="img-responsive img-circle">
                </div><!--/ convo-img -->
            </div><!--/ convo-box -->

            <div class="convo-box convo-left">
                <div class="convo-area convo-left">
                    <div class="convo-message">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div><!--/ convo-message-->
                    <span>2 minutes ago</span>
                </div><!--/ convo-area -->
                <div class="convo-img">
                    <img src="{{ asset('assets/img/users/1.jpg') }}" alt="" class="img-responsive img-circle">
                </div><!--/ convo-img -->
            </div><!--/ convo-box -->

            <div class="convo-box pull-right">
                <div class="convo-area">
                    <div class="convo-message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget
                            malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                    </div><!--/ convo-message-->
                    <span>Sat, Aug 23, 1:08 PM</span>
                </div><!--/ convo-area -->
                <div class="convo-img">
                    <img src="{{ asset('assets/img/users/2.jpg') }}" alt="" class="img-responsive img-circle">
                </div><!--/ convo-img -->
            </div><!--/ convo-box -->

            <div class="convo-box convo-left">
                <div class="convo-area convo-left">
                    <div class="convo-message">
                        <p>Typing...</p>
                    </div><!--/ convo-message-->
                    <span>2 minutes ago</span>
                </div><!--/ convo-area -->
                <div class="convo-img">
                    <img src="{{ asset('assets/img/users/1.jpg') }}" alt="" class="img-responsive img-circle">
                </div><!--/ convo-img -->
            </div><!--/ convo-box -->

        </div><!--/ conversation-container -->
        <div class="type_messages">
            <div class="input-field">
                <textarea placeholder="Type something here..."></textarea>
                <ul class="imoji">
                    <li><a href="#" class="kafe-btn kafe-btn-mint-small">Send</a></li>
                </ul><!--/ imoji -->
            </div><!--/ input-field -->
        </div><!--/ type_messages -->

    </div><!--main-conversation-box end-->



{% endblock %}
