{%  extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
  {% block container%}
      {{ parent() }}
<section class="dashboard section-padding">
    <div class="container">
        <div class="row">

            <div class="col-sm-4 col-md-3">

                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="{{ path('template_Dashboard') }}">
                            <i class="fa fa-life-ring"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ path('template_Contract') }}">
                            <i class="fa fa-align-left"></i> <span>Contracts</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i> <span>Jobs</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('template_JobPasted') }}"><i class="fa fa-circle-o"></i> Jobs Posted</a></li>
                            <li><a href="{{ path('template_AddJob') }}"><i class="fa fa-circle-o"></i> Add a Job</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-clone"></i> <span>Proposals</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('template_YourPorposals') }}"><i class="fa fa-circle-o"></i> Your Proposals</a></li>
                            <li><a href="{{ path('template_OtherPorposals') }}"><i class="fa fa-circle-o"></i> Other Proposals</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('template_Offers') }}">
                            <i class="fa fa-file"></i> <span>Offers</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-copyright"></i> <span>Companies</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('template_CompanyList') }}"><i class="fa fa-circle-o"></i> Company List</a></li>
                            <li><a href="{{ path('template_AddCompany') }}"><i class="fa fa-circle-o"></i> Add a Company</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('template_Message') }}">
                            <i class="fa fa-envelope"></i> <span>Messages</span>
                            <span class="pull-right-container">
				  <small class="label pull-right bg-green">4</small>
				</span>
                        </a>
                    </li>
                </ul>

                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-exchange"></i> <span>Wallet</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('template_Deposits') }}"><i class="fa fa-circle-o"></i> Deposits</a></li>
                            <li><a href="{{ path('template_Withdrawals') }}"><i class="fa fa-circle-o"></i> Withdrawals</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('template_Payementmethod') }}">
                            <i class="fa fa-dot-circle-o"></i> <span>Payment Method</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('template_Numbership') }}">
                            <i class="fa fa-credit-card"></i> <span>Membership</span>
                        </a>
                    </li>
                </ul>

                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-external-link-square"></i> <span>Feature a Job</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('template_Featured_Job_List') }}"><i class="fa fa-circle-o"></i> Jobs Featured List</a></li>
                            <li><a href="{{ path('template_Featured_A_Job') }}"><i class="fa fa-circle-o"></i> Feature a Job</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-external-link-square"></i> <span>Feature a Profile</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('template_Featured_Profiles') }}"><i class="fa fa-circle-o"></i> Profile Featured List</a></li>
                            <li><a href="{{ path('template_Featured_Your_Profile') }}"><i class="fa fa-circle-o"></i> Feature your Profile </a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-external-link-square"></i> <span>Feature a Company</span>
                            <span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('template_Featured_Companies') }}"><i class="fa fa-circle-o"></i> Companies Featured List</a></li>
                            <li><a href="{{ path('template_Featured_Your_Company') }}"><i class="fa fa-circle-o"></i> Feature your Companies </a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="{{ path('template_EditProfile') }}">
                            <i class="fa fa-user"></i> <span>Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('template_Profile_Image') }}">
                            <i class="fa fa-image"></i> <span>Change Profile Image</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('template_Password') }}">
                            <i class="fa fa-lock"></i> <span>Change Password</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-sm-8 col-md-9">

                <div class="pro-nav text-center">
                    <ul class="nav pro-nav-tabs nav-tabs-dashed">
                        <li><a href="{{ path('template_Workroom') }}">Overview & Discussions</a></li>
                        <li><a href="{{ path('template_Milestone') }}">Milestones</a></li>
                        <li><a href="{{ path('template_Task') }}">Tasks</a></li>
                        <li><a href="{{ path('template_Timesheet') }}">Timesheets</a></li>
                        <li><a href="{{ path('template_File') }}">Files</a></li>
                        <li><a href="{{ path('template_Link') }}">Links</a></li>
                        <li><a href="{{ path('template_Bug') }}">Bugs</a></li>
                        <li><a href="{{ path('template_Payement') }}">Payments</a></li>
                        <li class="active"><a href="{{ path('template_Rate') }}">Rate the Freelancer</a></li>

                    </ul>
                </div><!-- /.pro-nav -->

                <div class="rate-box">
                    <form method="post" id="addform">
                        <p class="p-star">
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star-o rating-star"></i>
                            Skills
                        </p>
                        <p class="p-star">
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star-o rating-star"></i>
                            <i class="fa fa-star-o rating-star"></i>
                            Quality of Work
                        </p>
                        <p class="p-star">
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star-half-full rating-star"></i>
                            Availability
                        </p>
                        <p class="p-star">
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star-half-full rating-star"></i>
                            <i class="fa fa-star-o rating-star"></i>
                            Adherence to Schedule
                        </p>
                        <p class="p-star">
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star-half-full rating-star"></i>
                            <i class="fa fa-star-o rating-star"></i>
                            <i class="fa fa-star-o rating-star"></i>
                            Communication
                        </p>
                        <p class="p-star">
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star rating-star"></i>
                            <i class="fa fa-star-half-full rating-star"></i>
                            <i class="fa fa-star-o rating-star"></i>
                            <i class="fa fa-star-o rating-star"></i>
                            Co-operation
                        </p>
                        <br/>
                        <h4>Job success score (Click to change the value)</h4>
                        <div style="display:inline;width:75px;height:75px;">
                            <canvas width="75" height="75"></canvas>
                            <input class="knob" data-width="75" data-angleoffset="40" data-linecap=
                            "round" data-fgcolor="#00C4CF" value="40" style="width: 41px; height
                            : 25px; position: absolute; vertical-align: middle; margin-top: 25px;
                             margin-left: -58px; border: 0px; background: none; font: bold 15px
                              Arial; text-align: center; color: rgb(0, 196, 207); padding: 0px; -
                              webkit-appearance: none;">
                        </div>
                        <div class="margin-space"></div>
                        <div class="form-group">
                            <label>Share your experience working with this freelancer</label>
                            <textarea class="form-control" rows="5" placeholder="Description"></textarea>
                        </div>

                        <button class="kafe-btn kafe-btn-mint-small full-width">Submit</button>
                    </form>
                </div><!-- /.rate-box -->



            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
  {% endblock %}