{% extends 'base1.html.twig' %}

{% block container %}

    {% for i in claim %}
        {{ i.statut }}
        {{ i.text }}
    {% endfor %}

    <div class="container">
        <div class="row" style="margin-bottom: 100px; margin-top: 80px">
            <div class="col-md-4"></div>
            <div class="col-md-4" >
                <h1 style="text-align: left; margin-bottom: 20px">Reply to claim</h1>
                {{ form_start(form) }}
                {{ form_widget(form.reply, {'attr': {'class': 'form-control'}}) }}
                <i class="fa fa-reply"></i>
                <input type="submit" class="btn" style="width: 80px; margin-top: 20px; float: right" value="Reply">
                {{ form_end(form) }}
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}