<center>

    <h2 >liste des Offre  </h2>
    <table border="1">

        <thead><td><h4>id</h4></td><td><h4>description</h4></td><td><h4>service</h4></td></thead>
        {% for i in a %}
            <tr> <td>{{ i.id }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.service.nom }}</td>
                <td><a href={{ path('Service_Supprimer', {'id': i.id}) }}>  Supprimer </a></td>
                <td><a href={{ path('Service_Modifier', {'id': i.id} ) }}>  Modifier </a></td>
            </tr>
        {% endfor %}

    </table>

</center>