{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{ form_start(edit_form) }}
                <h1 style=" font-size:46px; margin-bottom: 20px; text-align: center;color: #fe3859; text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.18); font-family: 'Pacifico', cursive;">Edit claim</h1>
                <h4 style="margin-bottom: 5px">Status</h4>
                {{ form_widget(edit_form.statut, {'attr': {'class':'form-control', 'style':'height: 34px' }}) }}
                <h4 style="margin-top: 10px; margin-bottom: 5px">Your claim</h4>
                {{ form_widget(edit_form.text, {'type': 'textarea', 'attr': {'class':'form-control','id':'msg' }}) }}
                <div class="clearfix" style="margin-top: 20px"></div>
                <input type="submit" class="btn btn-primary" style="width: 67px; position: absolute;     left: 125px;" value="Edit" />
                {{ form_end(edit_form) }}


                {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" style="width: 67px; position: absolute;  right: 90px;" value="Delete">
                {{ form_end(delete_form) }}

                <div class="clearfix" style="margin-bottom: 50px"></div>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>




    <ul>
        <li>

        </li>
    </ul>
{% endblock %}