{% extends 'base.html.twig' %}
{% block container %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('css/style-claim.css') }}">
{% endblock %}
{% block content %}
    <div class="contact main-grid-border">
        <div class="container" style="width: 40%; margin-top: 80px">
            <h1 style=" font-size:56px; margin-bottom: 20px; text-align: center;color: #fe3859; text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.18); font-family: 'Pacifico', cursive;">Claim</h1>
            <a style=" position: absolute; top: 140px; left: 50px;" class="btn btn-success" href="{{ path('claim_list') }}"><i class="fa fa-list"></i> Show my claims</a>
            <section id="hire">
                <div id="filldetails" class="submit">


                    {{ form_start(form) }}

                    <div class="field name-box">
                        {% for u in user %}
                            <input type="text" value="{{ u.prenom }}" disabled>
                            <label>Name</label>
                            <span class="ss-icon">Valid</span>
                        {% endfor %}
                    </div>

                    <div class="field phonenum-box">
                        <input type="text" name="tel" placeholder="Your mobile phone"/>
                        <label>Phone</label>
                        <span class="ss-icon">Valid</span>
                    </div>


                    <div class="field email-box" style=" margin-bottom: 43px;">
                        {{ form_widget(form.statut, {'attr': {'class':'form-control', 'style':'height: 34px' }}) }}
                        <label>Status</label>
                        <span class="ss-icon">Valid</span>
                    </div>

                    <div class="field msg-box">
                        <!--<textarea id="msg" name="msg" rows="4" placeholder="Your claim here..." requied=""></textarea>-->
                        {{ form_widget(form.text, {'type': 'textarea', 'attr': {'id':'msg' }}) }}
                        <label>Your claim</label>
                        <span class="ss-icon">Valid</span>
                    </div>

                    <input class="button" type="submit" value="Send" />
                    {{ form_end(form) }}
                </div>
            </section>
            <script>
                $('textarea').blur(function () {
                    $('#hire textarea').each(function () {
                        $this = $(this);
                        if (this.value != '') {
                            $this.addClass('focused');
                            $('textarea + label + span').css({ 'opacity': 1 });
                        } else {
                            $this.removeClass('focused');
                            $('textarea + label + span').css({ 'opacity': 0 });
                        }
                    });
                });
                $('#hire .field:first-child input').blur(function () {
                    $('#hire .field:first-child input').each(function () {
                        $this = $(this);
                        if (this.value != '') {
                            $this.addClass('focused');
                            $('.field:first-child input + label + span').css({ 'opacity': 1 });
                        } else {
                            $this.removeClass('focused');
                            $('.field:first-child input + label + span').css({ 'opacity': 0 });
                        }
                    });
                });
                $('#hire .field:nth-child(2) input').blur(function () {
                    $('#hire .field:nth-child(2) input').each(function () {
                        $this = $(this);
                        if (this.value != '') {
                            $this.addClass('focused');
                            $('.field:nth-child(2) input + label + span').css({ 'opacity': 1 });
                        } else {
                            $this.removeClass('focused');
                            $('.field:nth-child(2) input + label + span').css({ 'opacity': 0 });
                        }
                    });
                });
                $('#hire .field:nth-child(3) input').blur(function () {
                    $('#hire .field:nth-child(3) input').each(function () {
                        $this = $(this);
                        if (this.value != '') {
                            $this.addClass('focused');
                            $('.field:nth-child(3) input + label + span').css({ 'opacity': 1 });
                        } else {
                            $this.removeClass('focused');
                            $('.field:nth-child(3) input + label + span').css({ 'opacity': 0 });
                        }
                    });
                });
                $('#hire .field:nth-child(4) input').blur(function () {
                    $('#hire .field:nth-child(4) input').each(function () {
                        $this = $(this);
                        if (this.value != '') {
                            $this.addClass('focused');
                            $('.field:nth-child(4) input + label + span').css({ 'opacity': 1 });
                        } else {
                            $this.removeClass('focused');
                            $('.field:nth-child(4) input + label + span').css({ 'opacity': 0 });
                        }
                    });
                });
            </script>
            <script>
                if (document.location.search.match(/type=embed/gi)) {
                    window.parent.postMessage("resize", "*");
                }
            </script>
        </div>

    </div>
{% endblock %}
{% endblock %}
