{% extends 'base.html.twig' %}



{% block container %}
    <div class="container" style="margin-bottom: 42px">
        <div class="row" style="margin-top: 20px; margin-bottom: 50px">
            <div class="col-md-4">
                <a style="font-size: 40px; margin-left: -50px" href="{{ path('claim_index') }}"><i class="fa fa-arrow-alt-circle-left"></i></a>
            </div>
            <div class="col-md-4">
                <h1 style="margin-bottom: 20px; text-align: center">Claim</h1>
                <table>
                    <tbody>
                    <tr>
                        <th>Creation Date</th>
                        <td>&emsp;&emsp;</td>
                        <td>{% if claim.date %}{{ claim.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        <td>&emsp;&emsp;</td>
                        <td>{{ claim.statut }}</td>
                    </tr>
                    <tr>
                        <th>Text</th>
                        <td>&emsp;&emsp;</td>
                        <td>{{ claim.text }}</td>
                    </tr>
                    <tr>
                        <th>Treated</th>
                        <td>&emsp;&emsp;</td>
                        <td>{% if claim.treated %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix" style="margin-top: 20px"></div>
                {% if isadmin == "2" %}
                    <a class="btn btn-primary" style="width: 67px; position: absolute" href="{{ path('claim_edit', { 'id': claim.id }) }}">Edit</a>
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" style="width: 67px; float: right" type="submit" value="Delete">
                {% else %}
                    <a class="btn btn-warning" href="{{ path('claim_reply', {'id': claim.id}) }}" style="color: #fff; margin-top: 10px; ;">Reply</a>
                {% endif %}
                {{ form_end(delete_form) }}
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>



{% endblock %}
