{% extends 'base.html.twig' %}


    {% block container %}
        <!-- ==============================================
        Blog Page Section
        =============================================== -->
        <section class="blogpage jobpost" id="blogpage">
            <div class="container text-left">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 white-blogpage">

                        <h4>Designing for the reader experience.</h4>
                        <hr class="small-hr">

                        <div class="row post-top-sec animations fade-down d2">
                            <div class="col-lg-3">
                                <h5> Posted </h5>
                                <p>{{ articles.dateCreation|date }}</p>
                            </div><!-- /.col-lg-3 -->
                            <div class="col-lg-3">
                                <h5> Comments </h5>
                                <p><i class="fa fa-comment-o"></i> 19</p>
                            </div><!-- /.col-lg-3 -->
                            <div class="col-lg-3">
                                <h5> CeatedBy </h5>
                                {#Methode pour lister tous les articles d'un certain utilisateur(Auteur) #}
                                <p>
                                    <a href="{{ path('article_rechercher_Auteur', { 'auteur': articles.auteur }) }}"> {{ articles.auteur }} </a>
                                </p>
                            </div><!-- /.col-lg-3 -->
                            <div class="col-lg-3">
                                <h5> Read Time </h5>
                                <p><i class="fa fa-align-left"></i> 2 Min Read</p>
                            </div><!-- /.col-lg-3 -->

                            <div class="col-lg-12">
                                <hr class="small-hr">
                            </div> <!-- /.col-lg-12 -->
                        </div><!-- /.row -->

                        <p>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam. Unum
                            saepe ea vim, ius sensibus volutpat et, eum legere nostrum explicari ei. Sed ex legere
                            hendrerit. Ei saperet officiis has, eu usu prompta mandamus. Vix dicat electram ei, ne sea
                            aeterno ornatus perpetua, ne cum omnis voluptua iracundia.</p>
                        <p>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo
                            ponderum id pro. Vidit offendit quaerendum est et, no eos prima tamquam, eu duo ludus noster
                            praesent. Sea cu quod illum. Affert munere ut vis, ponderum gubergren sit ne. Nam at magna
                            homero feugait.</p>
                        <blockquote>
                            Odio laoreet vivendum ex vis. At mentitum assueverit nam, mel ex dolorem tacimates praesent.
                            Saepe nemore duo te, no nec cetero eligendi mnesarchum. Ne congue similique eloquentiam has.
                            Wisi omittantur definitiones vis in. Pro munere assueverit id, debitis scaevola omittantur
                            vim ex, qui meis tantas et. Vivendo ponderum id pro. Vidit offendit quaerendum est et, no
                            eos prima tamquam, eu duo ludus noster praesent. Sea cu quod illum. Affert munere ut vis,
                            ponderum gubergren sit ne. Nam at magna homero feugait.
                        </blockquote>


                        <section class="articles">
                            <article>
                                <h2>{{ articles.titre }}</h2>
                                <div class="metadata">Ecrit par {{ articles.auteur }} ,le
                                    {{ articles.dateCreation|date('d/m/y') }}
                                    à {{ articles.dateCreation|date('H:m') }}
                                    dans la catégorie {{ articles.categorie }}
                                </div>
                                <div class="content">
                                    {#Une methode pour concatiner  :p :p#}
                                    <img src="{{ asset('uploads/images/article/'~articles.image ) }}" alt="aa">

                                </div>
                                <div>
                                    {{ articles.description|raw }}
                                </div>

                            </article>
                        </section>


                        <p>Odio laoreet vivendum ex vis. At mentitum assueverit nam, mel ex dolorem tacimates praesent.
                            Saepe nemore duo te, no nec cetero eligendi mnesarchum. Ne congue similique eloquentiam has.
                            Wisi omittantur definitiones vis in.</p>
                        <p>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid. Eos
                            meliore interesset id. Ne has fabellas elaboraret.</p>
                        <p>Ne iriure reprimique vel. Ex alii pericula pri, idque veritus ius id. Etiam doctus aperiam cu
                            mea, vel cibo dicunt ad, vim luptatum delicatissimi eu. Diam mentitum explicari no vim,
                            tantas nominavi eos in. Ei pri omnis verterem antiopam.</p>

                        <h4>Lorem ipsum</h4>
                        <ul class="square">
                            <li>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam.
                            </li>
                            <li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et.</li>
                            <li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
                            <li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
                        </ul>

                        <h4>Lorem ipsum</h4>
                        <ul class="square">
                            <li>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam.
                            </li>
                            <li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et.</li>
                            <li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
                            <li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
                        </ul>
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /section -->

        <section class="articles" id="articles">
            <div class="container-fluid">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#">
                        <div class="tint">
                            <div class="featured-thumbnail">
                                <img class="img-responsive" src="{{ asset('img/users/10.jpg') }}" alt="">
                            </div>
                        </div>
                    </a>
                    <div class="col-md-12 featured-titles">
                        <h6>
                            {#<a href="{{ path('article_search_Politique') }}">Politique</a>#}
                            a changer pour tirer tous les articles selon categorie pour
                        </h6>
                    </div><!-- /.col-md-4 -->
                </div><!-- /.container -->
            </div>
        </section>
        <section class="blogauthor" id="blogauthor">
            <div class="container animations fade-in d3">
                <h3 class="text-center title"><span>Author</span></h3>
                <div class="row text-center">
                    <div class="col-lg-12">
                        {# Il faut choisir entre l'image et le nom de l'auteur #}
                        <a href="{{ path('article_rechercher_Auteur', { 'auteur': articles.auteur }) }}"> <img
                                    class="img-circle" src="{{ asset('img/users/1.jpg') }}" alt=""></a>
                        <h5>
                            <a href="{{ path('article_rechercher_Auteur', { 'auteur': articles.auteur }) }}">{{ articles.auteur }}</a>
                        </h5>
                        <p class="desc">Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas
                            et. Vivendo ponderum id pro. Vidit offendit quaerendum est et, no eos prima tamquam, eu duo
                            ludus noster praesent.</p>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>


    {% endblock %}


    {% block title %}
    {% endblock %}

