{% extends 'base1.html.twig' %}


{% block nbre %}
    {% for i in count %}
        {{ i.nm }}
    {% endfor %}
{% endblock %}

{% block claim %}
    {% for i in claims %}
        {{ i.nm }}
    {% endfor %}
{% endblock %}

{% block container %}
    <div class="container" style="margin-top: 40px; margin-bottom: 50px">
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-8" >
                <h1 style=" font-size:56px; margin-bottom: 20px; text-align: center;color: #fe3859; text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.18); font-family: 'Pacifico', cursive;">Claims list</h1>
                <div style="background-color: #CCCCCC; padding: 15px 15px;      border-radius: 10px;"  >
                    <table class="table">
                        <thead>
                        <tr>
                            <th>username</th>
                            <th style="width: 100px;">Date</th>
                            <th>Statut</th>
                            <th>Text</th>
                            <th>Treated</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for cl in c %}

                            <tr>
                                <td><a href="{{ path('claim_show', { 'id': cl.id}) }}">{{ cl.user.username}}</a></td>

                               {#<td><a href="{{ path('claim_show', { 'id': cl.id}) }}">{{ cl.id}}</a></td>#}
                                <td>{% if cl.date %}{{ cl.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ cl.statut }}</td>
                                <td>{{ cl.text }}</td>
                                <td>
                                    {% if cl.treated %}
                                        <span style="color: yellowgreen; font-size: 18px;"><i class="fa fa-check"></i></span>
                                    {% else %}
                                        <span style="color: red; font-size: 18px;"><i class="fa fa-times"></i></span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="{{ path('claim_show', { 'id': cl.id }) }}">
                                        <i class="fa fa-eye"></i>
                                        show
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">{{ knp_pagination_render(c) }}</div>
                </div>
            </div>
            <div class="col-md-2">
                <form method="get" action="search">
                    <input class="form-control" type="text" placeholder="Search ..." name="search">
                    <input style="margin-top: 5px; margin-left: 80px" type="submit" name="Search" class="btn btn-success" value="Search">
                </form>
            </div>
        </div>
    </div>








    <!-- jQuery is necessary -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $(".form-control").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $(".table").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('groups_search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value==$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key == 'entities') {
                                            if (id != 'error') {

{#console.log({{ path("claim_show", {'id':"id"  }) }});#}
//                                                 entitySelector.append('<tr><td>'+id+'</td><td>'+value.date.date+'</td><td>'+value.statut+'</td><td>'+value.text+'</td><td>'+value.treated+'</td><td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> show </a></td></tr>');

    entitySelector.append('<tr><td>'+value.date.date+'</td><td>'+value.statut+'</td><td>'+value.text+'</td><td>'+value.treated+'</td><td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> show </a></td></tr>');



                                               /* entitySelector.append('<a href="/Pi-Dev-Web/web/app_dev.php/groups/' + id + '/show">' +
                                                    ' <div class="autho"><center><img src="{{ asset('images/') }}' + value[1] + '" alt="avatar" style="width:120px; height: 120px"></center></div>' +
                                                    '<div class="notification-event">' +
                                                    '<span class="h6 notification-friend"><center><h1><b>' + value[0] +'</b></h1></center></span></a>' + ' ' +
                                                    '</br>' +
                                                    '</div>\n' +
                                                    '<span class="notification-icon"><svg class="\' + escape(item.icon) + \'"><use xlink:href="icons/icons.svg#\' + escape(item.icon) + \'"></use></svg></span>' + '</a></li>');
*/
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>




    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block responsive-flex">
                    <div class="ui-block-title">
                        <div class="h6 title">Rechercher un Groupe</div>


                        <form class="w-search">
                            <div class="form-group with-button is-empty">
                                <input class="form-control search" type="text" placeholder="Rechercher Ici...">

                                <span class="material-input"></span></div>
                            {#<div class="inline-items" id="entitiesNav">#}

                            {#</div>#}
                        </form>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container inline-items"  id="entitiesNav2">

    </div>


{% endblock %}


