

{% extends 'base.html.twig' %}
      {% block header %}
          {{ parent() }}
      {% endblock %}
      {% block container %}
          {{ parent() }}
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

          <body> <section class="dashboard section-padding">

      <div class="container">
          <div class="row">
              <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="ui-block responsive-flex">
                      <div class="ui-block-title">
                          <div class="h6 title">Rechercher </div>


                          <form class="w-search">
                              <div class="form-group with-button is-empty">
                                  <input class="form-control search" type="text" placeholder="Rechercher Ici...">

                                  <span class="material-input"></span></div>

                          </form>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container inline-items"  id="rech">

      </div>



          <div class="container">
              <div class="row">

                  <div class="col-sm-4 col-md-3">



                      <ul class="sidebar-menu" data-widget="tree">
                          <li>
                              <a href="{{ path('listegenerral') }}">
                                  <i class="fa fa-align-left"></i> <span>listegenerral{% for entity3 in count  %}
                                  <h5> N question post : {{ entity3.nm }}</h5></span>

                   {% endfor %}
                              </a>
                          </li>
                          <li>
                              <a href="{{ path('mes_question') }}">
                                  <i class="fa fa-image"></i> <span>mes_question</span>
                              </a>
                          </li>
                          <li>
                              <div class="col-lg-2">
                                  <a href="{{ path('add_question') }}" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-user"></i> add question</a>
                              </div>
                          </li>
                      </ul>

                  </div>

                  <div class="col-sm-8 col-md-9">

                      <div class="box">
                          <div class="box-header">
                              <h3 class="box-title">Question List</h3>
                          </div><!-- /.box-header -->

                          <div class="box-body">
                              <div class="table-responsive">
                                  <div class="col-md-2">

                                  </div>

                                  <table id="example1" class="table table-bordered table-hover">
                                      <thead>

                                      <tr>
                                          <th>QUESTION</th>

                                          <th>DATE post</th>
                                          <th>post by</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% for entity in liste  %}



                                      <tr>
                                          <td>
                                              <img src="{{ asset('img/logo.jpg') }}"
                                                   class="img-responsive img-circle pull-left" width="50" height="50"
                                                   alt="Image"/>
                                              <a href="{{ path("commant",{'id':entity.id } )}}">{{ entity.titre  }}</a>
                                          </td>
                                          <td><span class="label label-mint">{{ entity.date|date("m/d/y") }}</span></td>
                                          <td>
                                              {% for entity2 in users %}
                                                  {% if entity2.id == entity.user.id %}
                                          <a href="">{{ entity2.username }}</a>
                                                  {% endif %}
                                              {% endfor %}</td>
                                              <td>
                                              <a href="{{ path('question_like',{'id':entity.id}) }}" class ="btn btn-link js-like">
                                           {% if app.user and entity.isLikedByUser(app.user) %}

                                                  <i class="fas fa-thumbs-up"></i>
                                               {% else %}
                                               <i class="far fa-thumbs-up"></i>
                                                   {% endif %}
                                                  <span class="js-likes">{{ entity.likes| length }}</span>

                                                  <span class="hljs-label">like</span>
                                              </a>
                                          </td>


                                      </tr>


                                              {% endfor %}





                                      </tbody>
                                      <div class="navigation">
                                          {{ knp_pagination_render(liste) }}
                                      </div>
                                  </table>
                              </div>
                          </div><!-- /.box-body -->
                      </div><!-- /.box -->


                  </div><!-- /.col-md-9 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
          </section>
          <script src="{{ asset('js/axios.min.js') }}"></script>
<script>
    function onClickBtnLike(event){
        event.preventDefault();
        const url = this.href;
        const spanCount = this.querySelector('span.js-likes');
        const icone = this.querySelector('i')
        axios.get(url).then(function(responce) {

            spanCount.textContent = responce.data.likes;
            if (icone.classList.contains('fas')){ icone.classList.replace('fas','far');}
            else {icone.classList.replace('far','fas');}
        }).cache(function (error) {
            if(error.responce.status === 403){
            window.alert("non conncter")}

        })
    }
    document.querySelectorAll('a.js-like').forEach(function(link) {
link.addEventListener('click',onClickBtnLike);
    })
    </script>
          <!-- jQuery is necessary -->
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

          <script type="text/javascript">
              jQuery(document).ready(function() {
                  var searchRequest = null;
                  $(".search").keyup(function() {
                      var minlength = 1;
                      var that = this;
                      var value = $(this).val();
                      var entitySelector = $("#rech").html('');
                      if (value.length >= minlength ) {
                          if (searchRequest != null)
                              searchRequest.abort();
                          searchRequest = $.ajax({
                              type: "GET",
                              url: "{{ path('question_search') }}",
                              data: {
                                  'q' : value
                              },
                              dataType: "text",
                              success: function(msg){
                                  //we need to check if the value is the same
                                  if (value==$(that).val()) {
                                      var result = JSON.parse(msg);
                                      $.each(result, function(key, arr) {
                                          $.each(arr, function(id, value) {
                                              if (key == 'entities') {
                                                  if (id != 'error') {
                                                      entitySelector.append('<a href="http://localhost/PI_DEV/web/app_dev.php/forum/detail_question/' + id + '">' +
                                                          '<div class="notification-event">' +
                                                          '<h4><b>' + value[0] +'</b></h4></a>' + ' '


                                                          );

                                                  } else {
                                                      entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                  }
                                              }
                                          });
                                      });
                                  }
                              }
                          });
                      }
                  });
              });
          </script>
  {% endblock %}